@import '/styles/colors.scss';

.inlineCard__container {
  backface-visibility: hidden;
  background: $white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 14px 30px rgba($blue-shadow,.15),0 4px 4px rgba($blue-shadow,.05);
  display: inline-grid;
  grid-template-columns: 48px auto;
  position: relative;
  text-align: left;
  margin-left: 80px;
  min-height: 80px;
}
.inlineCard__rank {
  align-items: center;
  border-radius: 50%;
  color: $grey;
  display: flex;
  font-size: 2.4rem;
  font-weight: 900;
  height: 50px;
  left: -70px;
  line-height: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 50px;
  z-index: 2;
  & > span {
    color: rgba($grey, 0.7);
  }
}
.inlineCard__cover {
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  & > img {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
  }
}
.inlineCard__details {
  padding: 8px 16px;
  padding-right: 8px;
  min-width: 0;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(auto,calc(100% - 440px)) 130px 130px 150px;
  grid-gap: 10px;
  color: $grey;
  & > div {
    font-size: 1.4rem;
    font-weight: 700;
    & > p:last-child {
      color: $grey-light;
      font-size: 1.2rem;
    }
  }
}
.inlineCard__title {
  font-size: 1.4rem;
  font-weight: 600;
  & > p {
    color: $grey;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
}
.inlineCard__genres {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 18px;
  overflow: hidden;
  margin-left: -2px;
  & > a {
    color: $black;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 18px;
    line-height: 1.8rem;
    margin-right: 8px;
    padding: 0 10px;
    text-transform: lowercase;
  }
}
.inlineCard__score > svg {
  vertical-align: top;
  font-size: 1.8rem;
}
.inlineCard__pct {
  display: inline-block;
  padding-left: 2px;
  & > p:last-child {
    color: $grey-light;
    font-size: 1.2rem;
  }
}
