@import "/styles/colors.scss";
@import "/styles/fonts.scss";

.container-nav {
  background-color: $blue-dark;
  color: $purple-light;
  justify-content: center;
  width: 100%;
  height: 75px;
}
.nav-centered {
  max-width: 1050px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > a {
    align-items: center;
    display: inline-flex;
    height: 55px;
    justify-content: center;
    width: 65px;
    & > img {
      width: 50px;
      height: 50px;
    }
  }
}
.nav-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: $font-small;
  letter-spacing: 0.01em;
  & > span {
    position: relative;
    & > a {
      padding: 18px 16px;
    }
    &:hover {
      color: $purple-light-hovered;
    }
  }
  .nav-btn {
    margin-left: 70px;
    padding-right: 24px;
  }
  .nav-trigger-dropdown {
    .nav-dropdown {
      visibility: hidden;
      position: absolute;
      top: 32px;
      border-radius: 6px;
      background-color: $white;
      box-shadow: 0 14px 30px rgba($blue-shadow,.25),0 4px 4px rgba($blue-shadow,.15);
      width: 270px;
      flex-flow: column nowrap;
    }
    &:hover .nav-dropdown {
      visibility: visible;
    }
  }
}
