@import '/styles/colors.scss';

.landing__container {
  margin-top: 80px;
  background: $black;
  color: $blue-light-secondary;
  font-weight: 600;
  min-height: 100px;
  padding: 50px 30px;
  text-align: left;
  width: 100%;
}
.landing__container-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1520px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}
.landing__themes {
  & > h2 {
    color: #3db4f2;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 14px;
  }
}
.landing__theme-preview {
  border-radius: 3px;
  border: 2px solid $grey-dark;
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
  height: 25px;
  margin-right: 10px;
  width: 25px;
  text-align: left;
}
.landing__theme-preview--default {
  background: $white-secondary;
  color: $blue-dark-secondary;
}
.landing__theme-preview--dark {
  background: transparent;
  color: inherit;
}
.landing__theme-preview--contrast {
  background: $white;
  color: $black;
}
.landing__wrap-links {
  display: flex;
  font-size: 1.5rem;
  margin-left: auto;
}
.landing__links {
  margin-left: 80px;
  & > ul > li > a {
    display: block;
    padding: 10px;
    &:hover {
      color: $cyan;
    }
  }
}