$black: #11161d;
$blue: #3577ff;
$blue-light: #acd5f2;
$blue-light-secondary: #a0b1c5;
$blue-dark: #2b2d42;
$blue-dark-secondary: #2e3c48;
$blue-shadow: #6784bb;
$cyan: #3db4f2;
$purple-light: #bcbedc;
$purple-light-hovered: #d3d5f3;
$white: #fff;
$white-secondary: #ecf6fe;
$white-ternary: #f7fafc;
$background: #edf1f5;
$background-light: #dde6ee;
$background-dark: #0a1625;
$grey-light: #8ba0b2;
$grey: #748899;
$grey-dark: #46546b;
