$blue: #3577ff;
$blue-light: #acd5f2;
$blue-dark: #2b2d42;
$blue-shadow: rgb(103,132,187);
$purple-light: #bcbedc;
$purple-light-hovered: #d3d5f3;
$white: #fff;
$white-secondary: #ecf6fe;
$white-ternary: #f7fafc;
$background: #edf1f5;
$background-dark: #0a1625;
$grey: #748899;