@import './colors.scss';
@import './elements.scss';
@import './fonts.scss';
@import './buttons.scss';

html {
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &, body {
    font-family: Overpass, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  body {
    font-size: $font-default;
    color: $background-body;
    background-color: $background;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Overpass;
  src: url('/fonts/Overpass/Overpass-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.container {
  max-width: 1520px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}
